@model IEnumerable<Projeto.Models.Vaga>
@{
    ViewData["Title"] = "ListaDeVagas";
}

<div class="container">
    @{
        foreach (var item in Model)
        {
        <div>
            <div class="card text-center mt-5">
                <div class="card-header">
                    Destaque
                </div>
                <div class="card-body">
                    <h5 class="card-title">Cargo</h5>
                    <p class="card-text">
                        DESCRIÇÃO AQUI
                    </p>
                    <h6>SALARIO AQUI</h6>
                    <h6>BENEFICIOS AQUI</h6>
                    <h6>CARGA HORARIA AQUI</h6>
                    <a asp-controller="Candidaturas" asp-action="Candidatar"  class="btn btn-primary">Candidatar-se</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
        }

    }
</div>
